@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
    /* display: flex; */ /*!!? \_(o|o)_/  */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    font-family: Roboto, sans-serif;
    background: #ffefd3;
    margin: auto;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 1516px;
    min-width: 768px;
}

.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #1d3b3d;
    color: #f3ebe9;
    padding: 16px 200px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #f3ebe9;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #3a82f6;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0 0;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.image {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    color: #f9faf8;
    background-color: #3a82f6;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* margin-bottom: 12px; */
}

button:hover {
    background-color: #47738a;
}

.credentials {
    margin-top: auto;
}

.rand-info {
    /*TODO: combine with header*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 200px;
}

.random-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
}

.item {
    display: flex;
    flex-direction: column;
    width: 162px;
    height: 162px;
    outline: #3a82f6 solid;
    border-radius: 8px;
    margin: 0 32px 76px;
}
.subtext {
    margin-top: 12px;
    text-align: center;
}

.citation-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 200px;
    background-color: #f9deaa;
    font-size: 36px;
    font-style: italic;
}

.action-container {
    padding: 48px 200px;
}

.action-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #3a82f6;
    border-radius: 8px;
    color: #f9faf8;
    padding: 32px 128px;
    min-width: 500px;
    font-size: 20px;
}

.action-box p {
    margin: 0;
}
.action-box .agitation-header {
    font-size: 24px;
    font-weight: 600;
}
.action-box button {
    border: medium solid #f9faf8;
    padding: 8px 32px;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d3b3d;
    color: #f9faf8;
}
